/*  
	Theme Name: Words Of Importance
	Theme URI: http://tdh.me/wordpress/
	Description: A clean theme meant for online publishing, what else?
	Version: 1.0.1
	Author: Thord Daniel Hedengren
	Author URI: http://tdh.me
*/

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li {
	margin: 0;
	padding: 0;
}

li {
	list-style: none;
}

body {
	background: #bfbfbf url('ecailles.png') fixed;
	font-family: 'Roboto Slab', Helvetica, Arial, sans-serif;
}

.wrapper {
	float: left;
}

#outer-wrap {
	max-width: 840px;
	margin: 0 auto;
}

#inner-wrap {
	background: #fcfcfc;
}

#inner-wrap, #header-container, #main-container, #footer-container,
.menu, #frontpage-widgets {
	width: 100%;
	float: left;
	clear: both;
}

#site-title, #site-tagline {
	text-align: center;
}

#site-title {
	color: #010101;
}

#site-tagline {
	font-weight: 300;
	color: #777;
	margin-top: 0.5em;
}

.menu {
	padding: 10px 0;
	border-bottom: 1px solid #010101;
	background: #eee;
	font-size: 85%;
	font-weight: 300;
}

#header-container .menu-item {
	float: left;
	margin-left: 15px;
}

#frontpage-widgets {
	background: #eee;
	border: 1px solid #010101;
	border-width: 1px 0;
}

#main-container {}

input {
	padding: 5px;
	border: 1px solid #010101;
	color: #777;
	font-size: 0.85em;
	font-weight: 300;
	font-family: 'Roboto Slab', sans-serif;
}

input.search, input#s {
	width: 70%;
}

input.button, input#searchsubmit {
	width: 25%;
	padding: 5px 0;
	background: #010101;
	color: #fff;
}

.post {
	color: #333;
}

.entry-title, .entry-title-single {
	margin-bottom: 1em;
	border-bottom: 1px solid #010101;
	font-weight: 700;
}

.postmeta {
	font-weight: 300;
	color: #777;
}

article p {
	margin-bottom: 1.2em;
	line-height: 1.5em;
	color: #111;
}

article blockquote {
	margin: 0 2em 1em 1.25em;
	padding-left: 1em;
	border-left: 5px solid #eee;
	font-weight: 300;
}

#nav-below {
	float: left;
	width: 100%;
	font-weight: 700;
}

.nav-previous {
	float: left;
}

.nav-next {
	float: right;
	margin-left: 10px;
}

#footer-container {
	background: #eee;
	border-top: 1px solid #010101;
}

.copy, .link-top {
	text-align: center;
	font-size: 0.85em;
	font-weight: 300;
}

.link-top {
	font-weight: 700;
	font-size: 1em;
	line-height: 1em;
}

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	margin: 0 auto 1.2em auto;
}

.post img {
	max-width: 100%;
	height: auto;
}

a:link, a:active, a:visited {
	color: #000;
}

a:hover {
	text-decoration: none;
	color: #777;
}

h1 a, h2 a, .menu a, #nav-below a {
	text-decoration: none;
}

.link-top a {
	padding: 5px 20px;
	text-decoration: none;
}


@media only screen and (max-width: 727px) {

	#desktop-menu, #sidebar, .avatar, .avatar-single {
		display: none;
	}

	#header-container {
		margin-bottom: 30px;
	}

	#site-title {
		margin-top: 30px;
		font-size: 2em;
	}

	.post #site-title, .page #site-title {
		font-size: 1em;
	}

	#site-tagline {
		font-size: 1.25em;
	}

	.post #site-tagline, .page #site-tagline {
		font-size: 0.85em;
	}

	#frontpage-widgets {
		margin-bottom: 30px;
		padding: 20px 0 1px 0;
	}

	.post {
		margin-bottom: 50px;
	}

	.entry-title {
		padding: 0 10px 10px 10px;
		text-align: center;
		font-size: 1.4em;
	}

	.entry-title-single, .entry-title-page, .archive-title {
		padding: 0 20px 10px 20px;
		font-size: 2em;
		text-align: center;
	}

	.archive-title {
		margin-bottom: 30px;
	}

	.postmeta {
		margin-bottom: 10px;
		text-align: center;
		font-size: 12px;
		line-height: 12px;
	}

	.postmeta-single, .entry-title-page {
		margin-top: 15px;
	}

	.entry-content {
		margin: 0 30px;
	}

	#footer-container {
		margin-top: 30px;
		padding: 20px 0 13px 0;
	}

	.copy, .link-top {
		padding: 0 20px 12px 20px;
	}

	.alignleft {
		margin: 0 20px 20px 0;
	}

	.alignright {
		margin: 0 0 20px 20px;
	}

	img.alignleft, img.alignright {
		max-width: 35%;
		height: auto;
	}

}


@media only screen and (min-width: 728px) {

	#mobile-menu {
		display: none;
	}

	#header-container {
		margin-bottom: 50px;
	}

	#site-title {
		margin-top: 50px;
		font-size: 1.5em;
	}

	.home #site-title {
		font-size: 2.85em;
	}

	#site-tagline {
		font-size: 0.85em;
	}

	.home #site-tagline {
		font-size: 1.5em;
	}

	#desktop-menu .menu {
		margin-bottom: 50px;
	}

	#frontpage-widgets {
		margin-bottom: 50px;
		padding: 25px 0;
	}

	.post {
		margin-bottom: 70px;
	}

	.entry-title {
		padding: 0 0 10px 50px;
		max-width: 65%;
		font-size: 1.75em;
	}

	.entry-title-single {
		margin-bottom: 28px;
		padding: 0 40px;
		border-width: 0;
		font-size: 3em;
		text-align: center;
	}

	.entry-title-page, .archive-title {
		margin-top: 30px;
		margin-bottom: 40px;
		padding-bottom: 30px;
		border-bottom: 1px solid #010101;
	}

	.postmeta {
		margin: 0 50px 7px 50px;
		font-size: 14px;
		line-height: 28px;
	}

	.postmeta-single {
		margin-top: 30px;
		text-align: center;
		line-height: 14px;
	}

	.avatar {
		float: left;
		width: 28px;
		height: 28px;
		margin-left: -38px;
		border-radius: 5000px;
	}

	.avatar-single {
		margin: 0 auto 28px auto;
		text-align: center;
		border-top: 1px solid #010101;
	}

	.avatar-single .avatar {
		float: none;
		width: 48px;
		height: 48px;
		margin-left: 0;
		margin-top: -24px;
	}

	.entry-content {
		margin: 0 50px;
	}

	article .entry-content-single p {
		margin-bottom: 1.5em;
		font-size: 1.2em;
	}

	#footer-container {
		margin-top: 50px;
		padding: 25px 0 13px 0;
	}

	.copy, .link-top {
		padding: 0 25px 12px 25px;
	}

	.alignleft {
		margin: 0 40px 40px 0;
	}

	.alignright {
		margin: 0 0 40px 40px;
	}

}

@media only screen and (max-width: 839px) {

	.widget-container-front {
		float: left;
		margin-bottom: 19px;
		padding: 0 20px;
		font-size: 0.85em;
	}

	.widget-title {
		font-size: 1.25em;
		margin-bottom: 5px;
	}

	.widget-container-front p {
		font-weight: 300;
	}

	#sidebar {
		display: none;
	}

}


@media only screen and (min-width: 840px) {

	.wrapper,
	.nav-previous, .nav-next {
		margin: 0 50px;
	}

	#inner-wrap {
		margin: 50px 0;
		-webkit-box-shadow: 0 8px 6px -6px #404040;
		-moz-box-shadow: 0 8px 6px -6px #404040;
		box-shadow: 0 8px 6px -6px #404040;
		border: 1px solid #010101;
	}

	.widget-container-front {
		width: 48%;
		float: left;
	}

	.widget-container-front:nth-child(even) {
		float: right;
	}

	#sidebar {
		width: 30%;
		float: right;
		margin-left: 50px;
		background: #fcfcfc;
	}

	.widget-container {
		margin-right: 50px;
		margin-bottom: 40px;
		font-size: 85%;
	}

	#sidebar .widget_search {
		padding: 0 20px;
	}

	#sidebar .widget_text {
		padding: 20px;
		background: #eee;
	}

	.widget-container p, .widget-container-front p {
		font-weight: 300;
	}

	.widget-title {
		margin-bottom: 10px;
		font-size: 1.2em;
		font-weight: 700;
	}

}